@(lstAuthors: List[Author])
  You have @lstAuthors.size authors

<div>
  @for(author <- lstAuthors){
  <div>id: @author.id.get.stringify
    @helper.form(
    action = routes.AuthorController.delete(author.id.get.stringify), 'method -> "DELETE"){
    <button>Delete</button>
    }
  </div>
  <div>Name: @author.name</div>
  <div>Email: @author.email</div>
  <div>Bio: @author.bio</div>
  <div>Pic: @author.pic</div>
  <br/>
  }
</div>


  @helper.form(action = routes.AuthorController.submit()){
    Name: <input name="name"/><br/>
	Email: <input name="email"/><br/>
	Bio:<br/>
	<textarea rows="10" cols="20" name="bio"></textarea>
    <button>Submit</button>
  }
