@(login: Html)
@*(authors: List[Author])(author:Form[Author])*@

@main("Welcome to Play")(login) {
    Content
    @*
    Got @authors.size authors

	<div>
	@for(author <- authors){
		id: @author.id <br/>
		name: @author.name<br/>
		email: @author.email<br/>
		bio: @author.bio<br/><br/>
	}
	</div>

	Add new:<br/>
	@helper.form(action = routes.Application.add){
		@helper.inputText(author("name"))
		@helper.inputText(author("email"))
		@helper.textarea(author("bio"))
		<input type="submit" value="submit"/>
	}*@
</form>
}
