@(posts:List[Post])
@for(post <- posts){
    <div><a href="@routes.Post.get(post.id.get.stringify)">@post.title</a></div>
    <div>By: <a href="@routes.Post.byauthor(post.authorid.stringify)">@post.authorname</a></div>
    <div>@post.date</div>
    <div>&nbsp;</div>
    <div>@post.content</div>
    @if(!post.tags.isEmpty){
        <div>Tags:
            @for(tag <- post.tags){
                <a href="@routes.Post.bytag(tag)">@tag</a>&nbsp;
            }
        </div>
    }
    @if(!post.comments.isEmpty){
        <div>Comments:
            @for(comment <- post.comments){
                <div>@comment.date @comment.user @comment.email</div>
                <div>@comment.comment</div>
            }
        </div>
    }
    <div>&nbsp;</div>
}